@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

.navbar {
    @apply py-5 px-6 xl:px-24 gap-4 flex items-center w-full justify-between;
}

.spacing-default {
  @apply max-w-[1440px] px-4 sm:px-6 lg:px-8 mx-auto;
}

.account-form_input:focus{
  @apply outline-none border-primary-blurple border-2;
} 

.account-form_label {
  @apply text-white text-[13px] font-medium leading-text-default tracking-text-default pb-2 focus:outline-none;
}

.account-form_wrapper {
  @apply flex flex-col;
}

.account-form_submit {
  @apply w-full bg-primary-blurple hover:bg-primary-blurple/70 duration-200 text-primary-white h-[40px] mt-[17px] rounded-md leading-text-default tracking-text-default font-normal text-[15px];
}

.cl-internal-11ewti4 {
  @apply w-9 h-9;
}

@layer components {

  .font-display {
    font-family: 'Roboto', sans-serif;
  }

  .service-card 
  .service-card-image {
    filter: grayscale(100%);
    transition-duration: 200ms;
  }

  .service-card:hover 
  .service-card-image {
    filter: grayscale(0%);
  }


    .gradient-background {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(to bottom, black, #0a0a0a);
    }

    .launch-fade {
      color: #ffffff; background-image: -webkit-linear-gradient(0deg, #ffffff 0%, #ffffff 44%, #37323d 100%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
    }

   .radial-gradient {
     background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
   }

    // Main page -----------/\


    .header-left-blob {
        background: linear-gradient(180deg, #4E00F8 8.68%, #5A09F7 10.44%, #9533F5 60.82%, #C316FF 50.76%);
        filter: blur(193.14999389648438px);

    }

    .header-right-blob {
        background: linear-gradient(180deg, #4E00F8 46.77%, #9533F5 62.85%, #C316FF 100.11%);

        filter: blur(133.0500030517578px);

    }

    .landingpage-filter {
        fill: linear-gradient(178deg, rgba(88, 101, 242, 0.00) -40.51%, rgba(51, 51, 52, 0.00) 17.24%, rgba(51, 52, 53, 0.13) 55.91%);
        background-image: url('/assets/Banner.png');
        background-size: cover;
        background-repeat: no-repeat
      }

    .member-right-blob {
        width: 200.892px;
        height: 120.083px;
        transform: rotate(-159.649deg);
        flex-shrink: 0;
        background: linear-gradient(180deg, #4E00F8 20.77%, #9533F5 40.85%, #C316FF 111.11%);
        filter: blur(133.0500030517578px);
    }

    .member-left-blob {
        width: 170.905px;
        height: 220.03px;
        flex-shrink: 0;
        background: linear-gradient(180deg, #4E00F8 8.68%, #5A09F7 10.44%, #9533F5 30.82%, #C316FF 50.76%);
        filter: blur(193.14999389648438px);
    }

    .linear-bg {
        background: linear-gradient(180deg, #080808 0%, #0000 100%);
    }

    .linear-bg_second {
        background: linear-gradient(180deg, rgba(72, 72, 72, 0.07) 41.15%, rgba(37, 37, 37, 0.00) 100%), linear-gradient(180deg, rgba(72, 72, 72, 0.15) 43.75%, rgba(37, 37, 37, 0.00) 100%);        
    }

    .account-form_input {
      background-color: #0a0a0a;
      border: 1px solid rgba(255, 255, 255, 0.1);
      width: 405px;
      height: 40px;
      border-radius: 6px;
      color: white;
      font-size: 14px;
      padding-left: 1rem;
    }

}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
